*{
    margin: 0;
    padding: 0;
}

.title{
    text-align: center;
    font-size: 10vh;
    color: pink;
}

.cell{
    border:1px solid red;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    background-size: cover;

}
main{
    display: flex;
    justify-content: center;
    
}
.gameboard{
    display: flex;
    flex-direction: column;
}

.headerBoard{
    display: flex;
    justify-content: space-evenly;
    width: 70vh;

}
.point{
    display: flex;
}
#frame{
    height: 70vh;
    width: 70vh;
    border:1px solid red;
    display: none;
    justify-content: center;
    flex-wrap: wrap;
}